body {
	background-color: #003366
}
#login-container {
	margin: auto;
    width: 85%;
    background-color: #fff;
    display: block;
    margin-top: 50px;
}

#login-container #welcome-panel {
	padding: 30px 20px;
	background-color: #63a7ea;
	color: #fff;
}

#login-container #welcome {
	text-align: center;
}

#login-container #welcome-icon{
	font-size: 40px;
	margin-bottom: 5px;
}

#login-container #welcome-header{
	font-size: 22px;
	margin-bottom: 12px;
}

#login-container #welcome-text{
	font-size: 11px;
}

#login-container #login-panel {
	padding: 30px 20px;
}

#login-panel label{
	color: #074079;
}

#login-panel .btn {
	background-color: #003366;
	color: #fff;
    width: 100%;
    padding: 17px 10px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 0;
}

#login-panel .btn:hover {
	background-color: #376a9e;
}

@media screen and (min-width: 768px) {
    #login-container {
		margin: auto;
	    width: 70%;
	    margin-top: 30px;
	    background-color: #fff;
	    display: -webkit-box;
	    border-radius: 6px;
	}
}

@media screen and (min-width: 1024px) {
    #login-container {
		margin: auto;
	    width: 50%;
	    margin-top: 200px;
	    background-color: #fff;
	    display: -webkit-box;
	    border-radius: 6px;
	}
}